" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set nu
set relativenumber

set scrolloff=10
set showmode
set showcmd
set visualbell
set clipboard+=unnamed


set ignorecase
set smartcase
set incsearch
set hlsearch

set which-key
set nerdtree

" Don't use Ex mode, use Q for formatting.
map Q gq

" honor camel case for words
map w [w
map e ]w
map b [b

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Surround
Plug 'tpope/vim-surround'


let mapleader=" "

" Reload
nmap <leader>is <action>(IdeaVim.ReloadVimRc.reload)<CR>

" Refactoring
map <leader>irr <Action>(RenameElement)
map <leader>irs <Action>(ChangeSignature)

" Navigation
map gi <Action>(GotoImplementation)
map <leader>fF <Action>(SearchEverywhere)
map <leader>ff <Action>(GotoFile)
map <leader>rg <Action>(FindInPath)
map <leader>- :NERDTreeToggle<CR>
map <leader>q <action>(CloseContent)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Forward)
nmap <leader>gb <Action>(Back)

" Debugging
map <leader>idb <Action>(ToggleLineBreakpoint)

" Windows
map <leader>tt <Action>(ActivateTerminalToolWindow)
