" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
source ~/.vimrc.vim

set which-key
set nerdtree

" honor camel case for words
map w [w
map e ]w
map b [b

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Surround
Plug 'tpope/vim-surround'


" Reload
nmap <leader>is <action>(IdeaVim.ReloadVimRc.reload)<CR>

" Refactoring
map <leader>irr <Action>(RenameElement)
map <leader>irs <Action>(ChangeSignature)

" Navigation
map <leader>fF <Action>(SearchEverywhere)
map <leader>ff <Action>(GotoFile)
map <leader>fr <Action>(RecentFiles)
map <leader>rg <Action>(FindInPath)
map <leader>- :NERDTreeToggle<CR>
map <leader>q <action>(CloseContent)
map <leader>z <Action>(MaximizeEditorInSplit)
map <leader>m <Action>(HideAllWindows)
" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(ShowUsages)
nmap gt <Action>(GotoTest)
nmap gf <Action>(Forward)
nmap gb <Action>(Back)
nmap ge <Action>(GotoNextError)

" Run things
nmap <leader>r <Action>(RunClass)
nmap <leader>c <Action>(Stop)

" Vcs
nmap <leader>vb <Action>(Annotate)
nmap <leader>vc <Action>(Git.CompareWithBranch)

" Debugging
map <leader>idb <Action>(ToggleLineBreakpoint)

" Windows
map <leader>tt <Action>(ActivateTerminalToolWindow)
