" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
source ~/.vimrc.vim

set which-key
set NERDTree
set ideajoin

" honor camel case for words
map w [w
map e ]w
map b [b

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Surround
Plug 'tpope/vim-surround'


" Reload
nmap <leader>is <action>(IdeaVim.ReloadVimRc.reload)<CR>

" Refactoring
map <leader>rr <Action>(RenameElement)
map <leader>rs <Action>(ChangeSignature)

" Nerd tree
map <leader>- :NERDTreeToggle<CR>

" Navigation
map <leader>fF <Action>(SearchEverywhere)
map <leader>ff <Action>(GotoFile)
map <leader>fr <Action>(RecentFiles)
map <leader>fg <Action>(FindInPath)
map <leader>q <action>(CloseContent)
map <leader>z <Action>(MaximizeEditorInSplit)
map <leader>m <Action>(HideAllWindows)
map [m <Action>(MethodUp)
map ]m <Action>(MethodDown)

"--  Class motions
if &ide =~? 'intellij'
  "--- Previous class opening
  nnoremap [c 0?\<class\> <cr>f{:nohlsearch<cr>  
  "--- Next class opening
  nnoremap ]c $/\<class\> <cr>f{:nohlsearch<cr>
  "--- Previous class closing
  nnoremap [C $?\<class\> <cr>nf{%:nohlsearch<cr>
  "--- Next class closing
  nnoremap ]C 0/\<class\> <cr>f{%:nohlsearch<cr>
endif

nnoremap vic gg :action MethodDown<cr>f{vi{ 
nnoremap vac gg :action MethodDown<cr>f{va{ 
nnoremap dic gg :action MethodDown<cr>f{di{ 
nnoremap dac gg :action MethodDown<cr>f{da{ 
nnoremap cic gg :action MethodDown<cr>f{ci{ 
nnoremap cac gg :action MethodDown<cr>f{ca{ 
nnoremap yic gg :action MethodDown<cr>f{yi{ 
nnoremap yac gg :action MethodDown<cr>f{ya{ 

" Proto text objects (thanks https://github.com/magidc/dotfiles)
nnoremap vam j:action MethodUp<cr>0v]M
nnoremap vim j:action MethodUp<cr>]m<cr>v]M<bs>
nnoremap dam j:action MethodUp<cr>0v]M"_d
nnoremap dim j:action MethodUp<cr>]m<cr>v]M<bs>"_d
nnoremap yam j:action MethodUp<cr>0v]My
nnoremap yim j:action MethodUp<cr>]m<cr>v]M<bs>y
nnoremap cam j:action MethodUp<cr>0v]M"_c
nnoremap cim j:action MethodUp<cr>]m<cr>v]M<bs>"_c

" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(ShowUsages)
nmap gt <Action>(GotoTest)
nmap gf <Action>(Forward)
nmap gb <Action>(Back)
nmap ge <Action>(GotoNextError)

" Run things
nmap <leader>r <Action>(RunClass)
nmap <leader>c <Action>(Stop)

" Vcs
nmap <leader>vb <Action>(Annotate)
nmap <leader>vc <Action>(Git.CompareWithBranch)

" Debugging
map <leader>idb <Action>(ToggleLineBreakpoint)

" Windows
map <leader>tt <Action>(ActivateTerminalToolWindow)
